@model IEnumerable<WebProyecto.Models.Equipos>



<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Equipo")
        </th>
        <th>
            @Html.DisplayName("Partidos ganados")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.nombre
            </td>
            <td style="text-align:center;">
               @item.victorias
            </td>
        </tr>
    }

</table>
  