body {
}

#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #2e2e2e;
  border-top: 5px solid #2A7321;
  
}

.social-icons{
  padding-left: 0.25em;
  padding-right: 0.25em;
  margin-right: 4%;
  text-align:right;
  color: #315568;
}

.body-content {
    padding-left: 0px;
    padding-right: 0px;
    height:650px;
}

ul.listar {
    margin-right: 5%;
    margin-left: 5%;

}

.ladoIzq {
    float:left;
    width: 35%;
    border-right: 5px solid #2A7321;
    height: 100%;

}

.ladoDer {
    float:left;
    margin-left:2%;
    height: 100%;
    width: 65%-5px;

}

.tituloVerde {
    color: #3AB32B;
    margin-left: 2%;
    margin-right: 5%;
}

.texto {
    margin-left: 2%;
    margin-right: 2%;
}