@{
    ViewBag.Title = "Acerca de nosotros";
}
<h3 class="tituloVerde">@ViewBag.Title</h3>


<p class="acercaDe">Somos el primer sitio en Costa Rica dedicado a fomentar el fútbol 5, por medio de un sitio web
donde todas las canchas de fútbol 5 del país están afiliadas, y todos los equipos del país, pueden
buscar con quien jugar, en la cancha que deseen.
Nuestro proposito no es más que ayudar a todos los amantes del fútbol a que puedan jugar con
todos los equipos existentes, de ahí nuestro lema "Retando a toda Costa Rica".</p>

<img src="http://www.clubplaza.com.co/web/images/futbol5bogota2.jpg" style=" width:50%; height:60%; margin-left:2%" class="img-responsive">
