
@{
    ViewBag.Title = "Administrar";
}

<head>
    <script type="text/javascript">
        $(function () {
            $("#adminCanchas").click(function () {
                $("#partial").load("@Url.Action("getCanchas", "Home")");
            });
            $("#adminEquipos").click(function () {
                $("#partial").load("@Url.Action("getEquipos", "Home")");
            });
            $("#adminRetos").click(function () {
                $("#partial").load("@Url.Action("getRetos", "Home")");
            });
            $("#adminUsuarios").click(function () {
                $("#partial").load("@Url.Action("getUsuarios", "Home")");
            });
        });
    </script>
</head>

<div class="ladoIzq">
    <h3 class="tituloVerde">Administración de la aplicación</h3>
    <div class="botones">
        <input type="button" id="adminCanchas" value="Administración de Canchas" class="btn btn-default" />
    </div>
    <div class="botones">
        <input type="button" id="adminEquipos" value="Administración de Equipos" class="btn btn-default" />
    </div>
    <div class="botones">
        <input type="button" id="adminRetos" value="Administración de Retos" class="btn btn-default" />
    </div>
    <div class="botones">
        <input type="button" id="adminUsuarios" value="Administración de Usuarios" class="btn btn-default" />
    </div>
</div>
<div class="ladoDer">
    <div id="partial"></div>
</div>

