@{
    ViewBag.Title = "Contáctenos";
}
<head>
    <script type="text/javascript">

        $(document).ready(function () {
            $("#submit").click(function (event) {
                alert("Su comentario ha sido enviado");
                event.preventDefault();
                var url = $("#RedirectTo").val();
               location.href = url;
        });
     })

    </script>

</head>
@Html.Hidden("RedirectTo", Url.Action("Index", "Home"));
<div class="ladoIzq">
    <h3 class="tituloVerde">¿Desea Afiliar su cancha de fútbol 5?</h3>
    <p class="texto">Envíe los siguientes datos a afiliacion@soloretos.com</p>
    <ul class="listar">
        <li>
            Nombre de la cancha
        </li>
        <li>
            Provincia
        </li>
        <li>
            Cantón
        </li>
        <li>
            Dirección exacta
        </li>
        <li>
            Número de canchas disponibles
        </li>
        <li>
            Horarios y precios.
        </li>
    </ul>
</div>
<div class="ladoDer">
    <h3 class="tituloVerde">Contáctenos</h3>
    <div class="form-group">
        <label>Nombre</label>
        <input style="margin-left:7%;" type="text">
    </div>
    <div class="form-group">
        <label>Correo</label>
        <input style="margin-left:9%;" type="text">
    </div>
    <div class="form-group">
        <label style="vertical-align:top;">Comentario</label>
        <textarea rows="10" cols="50"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" id="submit" value="Envíar" />
    </div>
</div>