
@{
    ViewBag.Title = "Nuevo_Usuario";
}

<h3 class="tituloVerde">Nuevo usuario</h3>
<h4 class="texto">Usuario creado con éxito</h4>

<div class="col-md-2">@Html.ActionLink("Regresar a la página principal", "Index", "Home")</div>