@using Microsoft.AspNet.Identity
@if (Session["usuario"]!=null)
{
    using (Html.BeginForm("LogOff", "Usuarios", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Bienvenido " + Session["usuario"] + "!", "Index", "Home")
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar Sesión</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Registrarse", "Registrarse", "Usuarios", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "Iniciar_Sesion", "Usuarios", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
